body {
    font-family: sans-serif;
}

p {
    font-size: 20px;
}

h1 {
    color: blueviolet;
}

h2 {
    color: navy;
}

a {
    color: mediumblue;
    text-decoration: none;
    border-bottom: 1px dotted navy;
}

.container {
    width: 870px;
}

.description {
    float: left;
    width: 400px;
}

.ad {
    float: right;
    width: 350px;
    margin-top: 90px;
    padding: 30px;
    border: 2px dotted navy;
}

.reviews {
    width: 870px;
    float: left;
    margin-left: 30px;
}

.review {
    border-left: 10px double navy;
    width: 350px;
    padding-left: 10px;
}

span {
    color: firebrick;
    border-bottom: 1px dotted firebrick;
}
.review-text::before{
    content: url("/uploads/2021/03/message_0_1614945444.svg");
    width: 30px;
    height: 30px;
    display: inline-block;
}
